<div class="wrapper three-cols">
    <!--SIDEBAR-->
    <div class="card side-bar scrollable">
      <div class="title">Search</div>
      <div class="content">
        <form  #f="ngForm" 
        (submit)="searchHotels(f.value.text)">
          <input type="text" placeholder="City (Rome or Milan)" [ngModel]="text" name="text">
          <button type="submit">SEARCH</button>
        </form>
  
        <div class="separator"></div>
        <div class="font-big">Hotel in {{text}}</div>
  
        <div class="horiz-grid separator" 
        *ngFor="let hotel of hotels"
        (click)="setActive(hotel)"
        [ngClass]="{'active': hotel.id === active?.id}">
          <div>{{hotel.name}}</div>
          <div>da € {{hotel.rooms[0].price}}</div>
        </div>
  
        <div class="separator"></div>
        <div class="horiz-grid">
          <div></div>
          <em>{{hotels?.length}} results</em>
        </div>
  
      </div>
    </div>
  
    <!--MAP-->
    <div class="card map">
      <div>
        <img src="http://www.mapquestapi.com/staticmap/v5/map?key=Go3ZWai1i4nd2o7kBuAUs4y7pnpjXdZn¢er={{active?.location?.address}}&size=700,300&zoom=13"
             width="100%" height="200">
        <div class="address">
          <div class="font-big">{{active?.name}}</div>
          <div class="font-small">{{active?.location?.address}}</div>
        </div>
      </div>
    </div>
  
    <!--INFO BOX-->
    <div class="card">
      <div class="content center">
        <!--<img src="https://picsum.photos/400/200/?image=12" width="100%" height="200">-->
  
        <div class="separator"></div>
        <div class="font-superbig">
          {{active?.rate}}
          <ion-icon name="person" size="medium"></ion-icon>
        </div>
        <div *ngFor="let star of 5| intToArray; let i = index">
      <ion-icon *ngIf="i < (active?.stars || 0)" name="star" size="medium"></ion-icon>
      <ion-icon *ngIf="i >= (active?.stars || 0)" name="star-half-outline" size="medium"></ion-icon>
    </div>
   
          
      
  
        <br>
  
        <div class="horiz-grid separator"
        *ngFor="let room of active?.rooms"
        (click)="addToCart(room, active)"
        >
          <div>{{room.label}}</div>
          <div>
            € {{room.price}}
            <ion-icon name="cart" aria-hidden="true" size="medium"></ion-icon>
          </div>
        </div>

      </div>
  
    </div>
    <!--IMAGE GALLERY-->
    <div class="card gallery scrollable">
      <img [src]="activeImage"  width="100%" height="150">
      <div class="nested">
        <div *ngFor="let image of active?.images"
        (click)="setActiveImage(image)">
          <img  [src]="image" width="100%">
        </div>
        
      </div>
    </div>
  
    <!--SERVICES-->
    <div class="card services scrollable">
      
      <div class="title">Services</div>
      <div class="nested" 
     >
       
        <div  *ngFor="let icon of active?.services">
          <ion-icon name={{icon}} aria-hidden="true" size="large"></ion-icon>
        </div>
   
      </div>
    </div>
  
    <!--CONTACT FORM-->
    <div class="card contact">
      <div class="title">Contacts</div>
      <div class="content">
        <form #contactForm="ngForm" (submit)="sendEmail(contactForm.value)">
          <input [ngModel] name="email" type="text" placeholder="Your email*" required>
          <textarea [ngModel] name="msg"cols="20" rows="6" placeholder="Your message*" required></textarea>
          <button type="submit">SEND</button>
        </form>
      </div>
    </div>
  
  </div>
