<div class="wrapper">
    <div class="card">
      <div class="title">Cart (1)</div>
      <div class="content">
  
        <div  *ngFor="let item of cart.items" class="horiz-grid separator">
          <div class="font-medium">{{item.hotel.name}}</div>
          <div>{{item.room.label}}</div>
          <div>€ {{item.room.price}}</div>
          <div (click)="cart.removeFromCart(item)">
            <ion-icon name="trash" size="medium"></ion-icon>
        </div>
  
  
        <br>
        <br>
        <div class="horiz-grid">
          <div></div>
          <em>1 item</em>
        </div>
  
      </div>
    </div>
  </div>
